{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s12 m7 l9">
				<div class="article-card image-card" style="background: url('https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
					<h2><a href="">Another Title</a></h2>
					<span class="date">14/01/2019</span>
				</div>
			</div>
			<div class="col s12 m5 l3">
				<div class="row">
					<div class="col s12 m12 l12">
						<div class="article-card image-card" style="background: url('https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
							<h2><a href="">Another Title</a></h2>
							<span class="date">14/01/2019</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col s12 m4 l3">
				<div class="article-card">
					<img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="responsive-img">
					<h2><a href="">Another Title</a></h2>
					<span class="date">14/01/2019</span>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="article-card">
					<img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="responsive-img">
					<h2><a href="">Another Title</a></h2>
					<span class="date">14/01/2019</span>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="article-card">
					<img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="responsive-img">
					<h2><a href="">Another Title</a></h2>
					<span class="date">14/01/2019</span>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="article-card">
					<img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="responsive-img">
					<h2><a href="">Another Title</a></h2>
					<span class="date">14/01/2019</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}